header
{
    padding: 16px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;

}
.header-nav
{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul
{
    list-style: none;
    display:flex;
    gap: 16px;
    margin-right: 10px;
}
.header-logo
{
    margin: auto;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.header-centre
{
    font-size: 10px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}
.header-centre-left 
{

    margin: 40px;
    flex: 1;
    display: block;
    gap: 16px;
}
h1
{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-text
{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
}
.header-centre-right
{
    height: 60px;
    border: 5px solid grey;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    padding: 40px;
}
.signup-header
{
    font-weight: bold;
    background-color: rgb(100, 100, 230);
    color: white;
    padding: 8px 24px ;
    margin: auto;
    border: none;
    border-radius: 5px;
}
.information
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-window
{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.info-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.img
{
    height: 160px;
    width: 160px;
    border: 5px solid blue;
    border-radius: 15px;
}
.subtext
{
    text-align: center;
    font-size: 18px;
    padding: 0px 20px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-container
{
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 215, 215);    
}
.author
{
    display: flex;
    justify-content: flex-end;

}
.call-container
{
    background-color: rgb(84, 84, 236);
    border-radius: 15px;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 300px;
    margin: auto;
}
.call-text
{
    margin: 15px;
}
.call-sign
{
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding:16px;
    margin:10%;
    background-color: rgb(84, 84, 236);
    
    
}