header
{
    padding: 16px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;

}
.header-nav
{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul
{
    list-style: none;
    display:flex;
    gap: 16px;
    margin-right: 10px;
}
.header-logo
{
    margin: auto;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.header-centre
{
    font-size: 10px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}
.header-centre-left 
{

    margin: 40px;
    flex: 1;
    display: block;
    gap: 16px;
}
h1
{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-text
{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
}
.header-centre-right
{
    height: 60px;
    border: 5px solid grey;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    padding: 40px;
}
.signup-header
{
    font-weight: bold;
    background-color: rgb(100, 100, 230);
    color: white;
    padding: 8px 24px ;
    margin: auto;
    border: none;
    border-radius: 5px;
}
.information
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-window
{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.info-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.img
{
    height: 160px;
    width: 160px;
    border: 5px solid blue;
    border-radius: 15px;
}
.subtext
{
    text-align: center;
    font-size: 18px;
    padding: 0px 20px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-container
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 215, 215);    
}
span
{
    color: darkgray;
    padding-right: 20px;
    align-self: flex-end;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.call-container
{
    display: flex;
    padding: 50px 120px;
    align-items: center;
    justify-content: center;
    color: white;
}
.call-box
{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 50px 40px;
    gap: 50px;
    background-color: blue;
}
.call button
{
    align-self: center;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding:5px 40px ;
    background-color: rgb(84, 84, 236);
    appearance: auto; 
}
.call-text
{
    margin: 0px;
    padding: 0px;

}
.call-text-1
{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
footer
{
    display: flex;
    justify-content: center;
}